annotated-types
anyio
click
exceptiongroup
fastapi
h11
idna
iniconfig
numpy
packaging
pandas
pluggy
pydantic
pydantic-settings
pydantic_core
pytest
python-dateutil
python-dotenv
pytz
scikit-learn
six
sniffio
starlette
tomli
typing-inspection
typing_extensions
tzdata
uvicorn
joblib
